$light-grey: #363636;
$dark-grey: #292929;
$black: #1b1b1b;
$text: #c7c7c7;
$highlight: #0094C6;
$radius: 16px;

.tos,
.ccpa,
.gdpr,
.lgpd {
    color: $text;
    font-family: "Titillium Web", sans-serif;

    margin: 0 10%;
}